{% load static %}
{% load my_tags %}
<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="{% url 'pages:home' %}"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                    </div>
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li><a href="{% url 'pages:home' %}">Home</a></li>
                                <li><a href="{% url 'shop:home' %}">shop</a></li>
                                <!-- <li class="hot"><a href="#">Latest</a>
                                    <ul class="submenu">
                                        <li><a href="shop.html"> Product list</a></li>
                                        <li><a href="product_details.html"> Product Details</a></li>
                                    </ul>
                                </li> -->
                                <li><a href="{% url 'blogs:posts' %}">Blog</a>
                                    <!-- <ul class="submenu">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul> -->
                                </li>
                                <li><a href="{% url 'pages:contact' %}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            EN
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">UZ</a>
                            <a class="dropdown-item" href="#">RU</a>
                        </div>
                    </div>
                    <!-- Header Right -->
                    <div class="header-right">
                        <ul>
                            {% if request.user.is_authenticated %}
                                <li><a href="#"><span>Log out</span></a></li>
                            {% else %}
                                <li><a href=""><span class="flaticon-user"></span></a></li>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'shop:all_wishlist' %}"><span class="flaticon-heart"></span></a>
                                </li>
                            {% endif %}
                            {% cart_info request as info %}
                            <li><a href="#"><span class="flaticon-shopping-cart">${{ info.1 }}</span></a></li>
                            <!-- <li><a href="#"><span>{{ info.0 }}</span></a> </li>
                                <li><a href=""><span>Login</span></a></li> -->

                        </ul>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>