{% load static %}
    <div class="blog_right_sidebar">
       <aside class="single_sidebar_widget search_widget">
          <form action="{% url 'blogs:posts' %}", method="GET">
             <div class="form-group">
                <div class="input-group mb-3">
                   <input name="search" value="{{ request.GET.search }}" type="text" class="form-control" placeholder='Search Keyword'
                      onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                   <div class="input-group-append">
                      <button class="btns" type="button"><i class="ti-search"></i></button>
                   </div>
                </div>
             </div>
             <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                type="submit">Search</button>
          </form>
       </aside>
       <aside class="single_sidebar_widget post_category_widget">
          <h4 class="widget_title">Category</h4>
          <ul class="list cat-list">
             <li>
               {% for cat in category %}
                  <a onclick="addUrlParameter('cat', {{ cat.pk }})" class="{% if request.GET.cat == cat.pk|stringformat:'i' %}text-dark{% endif %}">
                     <p>{{ cat.name }}</p>
                  </a>
               {% endfor %}   
          </ul>
       </aside>
       <aside class="single_sidebar_widget tag_cloud_widget">
          <h4 class="widget_title">Tag Clouds</h4>
          <ul class="list">
             {% for tag in tags %}
                <li>
                   <a onclick="addUrlParameter('tag', {{ tag.pk }})" class="{% if request.GET.tag == tag.pk|stringformat:'i' %}bg-dark{% endif %}">{{ tag.name }}</a>
                </li>
             {% endfor %}
          </ul>
       </aside>
    </div>