{#{% extends 'layouts/base.html' %}#}
{#{% load static %}#}
{#{% block content %}#}
{#    <main>#}
{#        <!-- Hero Area Start-->#}
{#        <div class="slider-area ">#}
{#            <div class="single-slider slider-height2 d-flex align-items-center">#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-xl-12">#}
{#                            <div class="hero-cap text-center">#}
{#                                <h2>Profile</h2>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!--================Checkout Area =================-->#}
{#        <section class="checkout_area section_padding">#}
{#            <div class="container">#}
{#                <div class="returning_customer">#}
{#                    <div class="check_title">#}
{#                        <h2>#}
{#                            Returning Customer?#}
{#                            <a href="#">Click here to login</a>#}
{#                        </h2>#}
{#                    </div>#}
{#                    <p>#}
{#                        If you have shopped with us before, please enter your details in the#}
{#                        boxes below. If you are a new customer, please proceed to the#}
{#                        Billing & Shipping section.#}
{#                    </p>#}
{#                    <form class="row contact_form" action="#" method="post" novalidate="novalidate">#}
{#                        <div class="col-md-6 form-group p_star">#}
{#                            <input type="text" class="form-control" id="name" name="name" value=" "/>#}
{#                            <span class="placeholder" data-placeholder="Username or Email"></span>#}
{#                        </div>#}
{#                        <div class="col-md-6 form-group p_star">#}
{#                            <input type="password" class="form-control" id="password" name="password" value=""/>#}
{#                            <span class="placeholder" data-placeholder="Password"></span>#}
{#                        </div>#}
{#                        <div class="col-md-12 form-group">#}
{#                            <button type="submit" value="submit" class="btn_3">#}
{#                                log in#}
{#                            </button>#}
{#                            <div class="creat_account">#}
{#                                <input type="checkbox" id="f-option" name="selector"/>#}
{#                                <label for="f-option">Remember me</label>#}
{#                            </div>#}
{#                            <a class="lost_pass" href="#">Lost your password?</a>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#                <div class="cupon_area">#}
{#                    <div class="check_title">#}
{#                        <h2>#}
{#                            Have a coupon?#}
{#                            <a href="#">Click here to enter your code</a>#}
{#                        </h2>#}
{#                    </div>#}
{#                    <input type="text" placeholder="Enter coupon code"/>#}
{#                    <a class="tp_btn" href="#">Apply Coupon</a>#}
{#                </div>#}
{#                <div class="billing_details">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-12 col-md-12">#}
{#                            <h3>Billing Details</h3>#}
{#                            <form class="row contact_form" action="#" method="post">#}
{#                                <div class="col-md-6 form-group p_star">#}
{#                                    {{ form.first_name }}#}
{#                                    <span>First name</span>#}
{#                                </div>#}
{#                                <div class="col-md-6 form-group p_star">#}
{#                                    {{ form.last_name }}#}
{#                                    <span>Last name</span>#}
{#                                </div>#}
{#                                <div class="col-md-6 form-group p_star">#}
{#                                    {{ form.email }}#}
{#                                    <span>Email</span>#}
{#                                </div>#}
{#                                <div class="col-md-6 form-group p_star">#}
{#                                    {{ form.phone }}#}
{#                                    <span>Phone number</span>#}
{#                                </div>#}
{#                                <div class="col-md-6 form-group p_star">#}
{#                                    {{ form.country }}#}
{#                                    <span>Country</span>#}
{#                                </div>#}
{#                                <div class="col-md-12 form-group p_star">#}
{#                                    {{ form.address1 }}#}
{#                                    <span>Address1</span>#}
{#                                </div>#}
{#                                <div class="col-md-12 form-group p_star">#}
{#                                    {{ form.address2 }}#}
{#                                    <span>Address2</span>#}
{#                                </div>#}
{#                                <div class="col-md-12 form-group p_star">#}
{#                                    {{ form.city }}#}
{#                                    <span>City</span>#}
{#                                </div>#}
{#                                <div class="col-md-12 form-group p_star">#}
{#                                    {{ form.district }}#}
{#                                    <span>District</span>#}
{#                                </div>#}
{#                                <div class="col-md-12 form-group">#}
{#                                    {{ form.zip_code }}#}
{#                                    <span>Zip Code</span>#}
{#                                </div>#}
{#                            </form>#}
{#                            <button type="submit" class="btn-danger">Save</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
{#        <!--================End Checkout Area =================-->#}
{#    </main>#}
{#{% endblock %}#}

{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Profile</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'pages:home' %}">Home</a>
                            <span>Profile</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click
                                here</a> to enter your code</h6>
                            <h6 class="checkout__title">Billing Details</h6>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name </p>
                                        {{ form.first_name }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name </p>
                                        {{ form.last_name }}
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Country </p>
                                {{ form.country }}
                            </div>
                            <div class="checkout__input">
                                <p>Address </p>
                                {{ form.address1 }}
                                {{ form.address2 }}
                            </div>
                            <div class="checkout__input">
                                <p>Town/City </p>
                                {{ form.city }}
                            </div>
                            <div class="checkout__input">
                                <p>Country/State </p>
                                {{ form.state }}
                            </div>
                            <div class="checkout__input">
                                <p>Postcode / ZIP </p>
                                {{ form.zip_code }}
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone </p>
                                        {{ form.phone }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email </p>
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="site-btn" style="background-color: #1e7e34">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}