{% extends 'layouts/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Watch Shop</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->
        <!-- Latest Products Start -->
        <section class="popular-items latest-padding">
            <div class="container">
                <div class="row product-btn justify-content-between mb-40">
                    <div class="properties__button">
                        <!--Nav Button  -->
                        <nav>                                                      
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <select onchange="addUrlParameter('sort', this.value)"> 
                                    <option value="">-----</option>
                                    <option {% if request.GET.sort == 'price' %}selected{% endif %} value="price">Low to high</option>
                                    <option {% if request.GET.sort == '-price' %}selected{% endif %} value="-price">High to low</option>
                                </select>    
                            </div>
                        </nav>
                        <!--End Nav Button  -->
                    </div>
                    <!-- Grid and List view -->
                    <div class="grid-list-view">
                    </div>
                    <!-- Select items -->
                    <!-- <div class="select-this">
                        <form action="#">
                            <div class="select-itms">
                                <select name="select" id="select1">
                                    <option value="">40 per page</option>
                                    <option value="">50 per page</option>
                                    <option value="">60 per page</option>
                                    <option value="">70 per page</option>
                                </select>
                            </div>
                        </form>
                    </div> -->
                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            {% for product in object_list %}
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="single-popular-items mb-50 text-center">
                                        <div class="popular-img">
                                            <img src="{{ product.main_image.url }}" alt="">
                                            <div class="img-cap">
                                                <a href="{% url 'shop:cart' id=product.pk %}?next={{ request.path }}"><span>
                                                    {% if product|is_cart:request %}
                                                        - Remove From Cart
                                                    {% else %}
                                                        + Add To Cart
                                                    {% endif %}
                                                </span></a>
                                            </div>
                                            <div class="favorit-items">
                                                {% if request.user.is_authenticated %}
                                                    {% if product|is_wishlist:request %}
                                                        <a href="{% url 'shop:wishlist' pk=product.pk %}?next={{ request.path }}"><span class="flaticon-user"></span></a>
                                                    {% else %}
                                                        <a href="{% url 'shop:wishlist' pk=product.pk %}?next={{ request.path }}"><span class="flaticon-heart"></span></a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="popular-caption">
                                            <h3><a href="{% url 'shop:detail' pk=product.pk %}">{{ product.title }}</a></h3>
                                            <span>${{ product.get_price }} {% if product.is_discount %} <del class="text-secondary">{{ product.price }}</del> {% endif %}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- End Nav Card -->
            </div>
            <nav class="blog-pagination justify-content-center d-flex">
                <ul class="pagination">
                    {% for page in page_obj.paginator.page_range %}
                        <li class="page-item">
                            <a href="?page={{ page }}" class="page-link">{{ page }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </section>
        
        <!-- Latest Products End -->
        <!--? Shop Method Start-->
        <div class="shop-method-area">
            <div class="container">
                <div class="method-wrapper">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-package"></i>
                                <h6>Free Shipping Method</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-unlock"></i>
                                <h6>Secure Payment System</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div> 
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-reload"></i>
                                <h6>Secure Payment System</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Method End-->
    </main>
{% endblock %}

{% block extra_js %}

<script>
    function addUrlParameter(name, value){
        let searchParameter = new URLSearchParams(window.location.search)
        if(searchParameter.has(name) && searchParameter.get(name) == value){
            searchParameter.delete(name)
        }else{
            searchParameter.set(name, value)
        }
        window.location.search = searchParameter.toString()
    }
</script>


{% endblock %}
